<p>Interesting pages in this mini site are:</p>
<ul>
    <li><a href={{ url_for("show_spark_lines")}}>Spark lines graphs that are updated in real time with an api</a></li>
    <li><a href={{ url_for("canvas")}}>Moving sprites that are joined with lines</a></li>
    <li><a href={{ url_for("visualise_vallon")}}>Visualising the results of three ultrasonic sensors</a></li>
    <li><a href={{ url_for("get_arduino_data")}}?number_of_packets=10>See the results of the logger api with 10
    <li><a href={{ url_for("get_spark_data")}}?spark_line_name=spark_1>See the results of the get_spark_data api</a>
    </li>
</ul>